<mat-card>
  <mat-card-header>
    <mat-card-title>{{album?.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="album?.cover" alt="">
  <mat-card-content>
    <p>{{album?.artist}}</p>
    <p>{{album?.tracks}}</p>
  </mat-card-content>
</mat-card>
