<form action="" (submit)="submit($event)">
  <div class="form-group">
    <label for="username">Identifiant</label>
    <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input type="text" id="password" name="password" [(ngModel)]="user.password" required>
  </div>

  <div class="form-group">
    <button type="submit">Se connecter</button>
  </div>
</form>
