<mat-card>
  <mat-card-header>
    <mat-card-title>{{artist?.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="artist?.picture" alt="">
  <mat-card-content>
    <p>{{artist?.actualName}}</p>
    <p>{{artist?.birthday}}</p>
  </mat-card-content>
</mat-card>
