<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <mat-list-item *ngFor="let album of albums" role="listitem">
            <img matListAvatar src="{{album.cover}}" alt="">
            <h2 matLine><a [routerLink]="['/albums', album.id]">{{album.title}}</a></h2>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list>
