/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~normalize.css/normalize.css';

.mat-grid-list .mat-grid-tile:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}
