<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list>
      <mc-nav></mc-nav>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
